<%= form_with model:book,local:true do |f| %>
  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: 'form-control book_title' %>
  </div>
  <div class="form-group">
    <%= f.label :opinion %>
    <%= f.text_area :body, class: 'form-control book_body' %>
  </div>
  
  <div id="post_raty">Rate</div>
  <script>
  let elem = document.querySelector('#post_raty');
  let opt = {  
    size     : 36,
    starOff:  '<%= asset_path('star-off.png') %>',
    starOn : '<%= asset_path('star-on.png') %>',
 　　scoreName: 'book[star]',　
    half: false,
   };
  raty(elem,opt);
  </script></br>
  
  <div class="form-group">
    <%= f.submit class: 'btn btn-sm btn-success' %>
  </div>
  
<% end %>
